<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Ferramentas</title>
    <style>
        body {background-color: silver;}
    </style>
    {% block head %}

    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'listaferramentas:index' %}">App ListaFerramenta</a>
            <a href="{% url 'listaferramentas:add' %}">Adicionar Ferramenta</a>
            
        </nav>
    </header>
    <main>
      {% block conteudo %}

      {% endblock %}
    </main>
    <footer>  
    </footer>
</body>
</html>