/* styles.css */
.container {
  position: relative;
}

.corner-image {
  position: absolute;
  top: 10px;
  right: 10px;
}

.top-container {
  padding: 20px;
  text-align: center; /* Centraliza o texto */
}

.top-container h1 {
  margin-bottom: 20px;
}

.centered-container h1 {
  margin-bottom: 20px;
}

body {
  background-image: url("/static/industria_celulose.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}





