<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livraria</title>
    <style>
        body {background-color: silver;}
    </style>
    {% block head %}

    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'livraria:index' %}">App Livraria</a>
            <a href="{% url 'livraria:add' %}">Adicionar Livro</a>
            <a href="{% url 'todo:listar' %}">TodoApp</a>
            <a href="{% url 'posts:home' %}">Posts</a>
        </nav>
    </header>
    <main>
      {% block conteudo %}

      {% endblock %}
    </main>
    <footer>  
    </footer>
</body>
</html>